@charset "UTF-8";
/*개인정보 수정 페이지css*/
 table {
        height: 300px;
        table-layout: fixed;
        width: 100%;
        overflow: hidden;
        }

        table td:nth-child(1) {
            width: 35%;
        }

        table td:nth-child(2) {
            width: 65%;
        }
        .img-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }
        #deleteBtn{
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        transition: background 0.3s;
        }

        #deleteBtn:hover{
            background: rgba(0, 0, 0, 0.8);
        }
        .editBtn{
            border : 1px solid rgb(230, 230, 230);
            background-color: white;
        }
        
        .editBtn:hover{
            box-shadow: 0 0 2px black;
            cursor: pointer;
        }
        #previewBtn{
            border: 1px solid rgb(163, 163, 163);
            background-color: white;
        }
        #previewBtn:hover{
            box-shadow: 0 0 2px black;
            cursor: pointer;
        }

        
        .editInput[readonly] {
        background-color: #ffffff; 
        color: #363636; 
        cursor: default; 
        border: 1px solid #ffffff;
        transition: background-color 0.3s ease, border 0.3s ease; 
        }

        #myPhoto{
            border-radius: 50%; 
            width: 300px; 
            height: 300px;
        }
       
