/* 공지사항 목록 디자인  */
@charset "UTF-8";

/* 공지 리스트 */
.notice-list {
    width: 100%;
    margin: 20px auto;
}
.notice-item {
    display: flex;
    align-items: center;
    min-height: 120px;
    max-height: 120px;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    overflow: hidden;
    font-size: 20px;
}
.notice-item:hover {
    background: #f5f5f5;
}
.notice-icon {
    font-weight: bold;
    color: #333333;
    flex: 0;
}
.notice-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    flex: 2;
}
.notice-date {
    flex: 1;
    text-align: right;
    color: #888888;
}