@charset "UTF-8";

.no-list {
	width: 100%;
	height: 300px;
	border: 1px solid gray;
	display : flex;
	flex-direction: column;
  	justify-content : center;
  	align-items : center;
  	font-size: 20px;
}

.aStyle{
   	text-decoration: none;
   	outline: none; 
   	padding:10px;
   	color : black;
   	font-weight : bold;
}

/* 카드 리스트 전체 스타일 */
.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    place-items: center;
    margin: 0 auto;
    gap: 20px;
}
.card {
    background-color: #fff;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    text-decoration: none;
    color: inherit;
}
.card a {
    display: block;
    text-decoration: none;
    color: inherit;
}
/* 카드 이미지 영역 */
.card-image {
    width: 100%;
    height: 65%;
    position: relative;
    overflow: hidden;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 이미지가 영역을 가득 채우도록 설정 */
}
/* 카드 내용 영역 */
.card-content {
    padding: 10px;
    flex-grow: 1;  /* 남은 공간을 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 카드 제목 스타일 */
.card-title {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between; /* 제목 왼쪽, 아이콘 오른쪽 정렬 */
    align-items: center;
    gap: 10px;
    width: 100%;
}
.card-title .title-area {
	margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-title .icon-area {
	margin: 0;
}
.card-subtitle {
    font-size: 14px;
}
/* 카드 하단의 조회수, 좋아요수, 댓글수 영역 */
.card-footer {
    display: flex;
    justify-content: flex-start;  /* 아이콘들을 왼쪽으로 정렬 */
    gap: 10px;  /* 아이콘들 간 간격을 10px로 설정 */
    font-size: 12px;
    color: #777;
    margin-top: 1px;
}
/* 각 아이템의 스타일 */
.card-footer span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #D3DDE5;
    padding: 20px;
    border-radius: 5px;
}
.search-row {
    display: flex;
    gap: 10px;
    width: 100%;
}
.half-width {
    flex: 1;
    min-width: 180px;
}
.small-width {
    width: 25%;
    min-width: 150px;
}
.large-width {
    flex: 1;
    min-width: 300px;
}
.etc-group {
	display: flex;
	justify-content: end;
}

.field {
 	border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 16px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.field:hover {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}
.btn {
    border-radius: 5px;
    padding: 0.5em 0.75em;
    font-size: 16px;
    text-align: center;
}
.btn-primary {
    background-color: lightblue;
    color: white;
    border: 1px solid lightblue;
}
.btn-primary:hover {
	filter: brightness(1.05);
}
.btn-secondary {
    background-color: darkgray;
    color: white;
    border: 1px solid darkgray;
}
.btn-secondary:hover {
    filter: brightness(1.05);
}
.btn-danger {
    background-color: #f06e6e;
    color: white;
    border: 1px solid #f06e6e;
}
.btn-danger:hover {
    filter: brightness(1.05);
}

.overview-content {
   	width: 100%;
   	overflow: auto;
   	border: 1px solid gray;
   	padding: 10px;
}
.overview-text {
 	white-space: pre-wrap; 
	word-wrap: break-word;
	width: 100%;
	height: auto;
	overflow-wrap: break-word;
}
.info-container {
    background-color: #E2E2E2;
    padding: 20px;
}
.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}
.info-title {
	margin-left: 30px;
	width: 30%;
	font-weight: bold;
}
.info-title i {
    margin-right: 5px;
}
.info-detail a {
    color: #0066cc;
    text-decoration: none;
}
.info-detail a:hover {
    text-decoration: underline;
}
.textarea-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #333333;
    line-height: 1.5;
}