.content-box{
        min-height:300px; 
        border:1px solid rgb(192, 192, 192);
    }

    /*댓글입력창*/
    .reply-writebox,
    .reply-writebox2{
    width: 100%;
    height: 70px;
    min-height:70px;
    resize: none; 
    background-color: #f8f9fa; 
    border: 1px solid #ccc; 
    padding: 10px;
    font-size: 14px;
    outline: none;
    flex-grow: 1;
    }

    .reply-item,
    .reply-edit-item{
    border: 1px solid lightgray; 
    padding: 10px;
    
    }
    
    .reply-tinyfont{
    font-size:13px;
    color: gray;
    }

    .btns{
     gap:5px; 
     margin-left: auto;
    }

    .edit-btn{
     border: 1px solid rgb(218, 218, 218); 
     background-color: rgb(224, 241, 255);
    }

    .delete-btn{
     border: 1px solid rgb(218, 218, 218); 
     background-color: rgb(255, 224, 224);
    }
     
    .edit-btn:hover,
    .delete-btn:hover,
    .cancel-btn:hover,
    .save-btn:hover,
    .changebtn:hover,
	.deletemessage:hover{
     filter:brightness(1.05);
     cursor: pointer;
    }
    
    .save-contentBox{
      width: 700px;    
   	 min-height: 50px;     
   	 height: 50px;          
    resize: none;     
    overflow: hidden;
        }
        
       .cancel-btn{
        border: 1px solid rgb(218, 218, 218);
        background-color : lightgray;
        }

        .save-btn{
        border : 1px solid rgb(218, 218, 218);
        background-color : rgb(212, 239, 255);
        }
        
        
        
.changebtn,
.deletemessage {
    font-size: 16px;
    padding: 0.5em 0.75em;
    color: #2d3436;
    border: 1px solid #2d3436;
    border-radius: 0.1em;
    cursor: pointer;
    /* a태그를 위한 추가 디자인 */
    text-decoration: none;
    background-color: #dfe6e9;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.deletemessage {
    border-color: #d63031;
    background-color: #d63031;
    color: white;
}

.changebtn{
	border-color: #578FCA;
	background-color : #578FCA;
	color: white;
}